.mainContainer {
  .header {
    height: 100px;
    align-items: center;
    gap: 20px;
    display: flex;
    padding-left: 100px;
    .logoImg {
      width: 150px;
      height: 100px;
      img {
        width: 100%;
        cursor: pointer;
        height: 100%;
        object-fit: contain;
      }
    }
    form {
      height: 50px;
      border: 1px solid white;
      width: 400px;
      padding: 12px 20px;
      color: white;
      border-radius: 30px;
      display: flex;
      justify-content: space-between;
      :nth-child(1) {
        border: none;
        outline: none;
        color: white;
        width: 100%;
        font-size: 18px;
      }
      :nth-child(2) {
        border: none;
        img {
          width: 20px;
        }
      }
    }
  }

  .searchContainer {
    padding-top: 20px;
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    p {
      span {
        font-size: 20px;
        color: #8ab4f8;
        cursor: pointer;
      }
    }
    .searchResult {
      display: flex;
      flex-direction: column;
      cursor: pointer;
      gap: 5px;
        a{
          text-decoration: none;
        }
      :nth-child(1) {
        font-size: 12px;
        color: gray;
      }
      :nth-child(2) {
        font-size: 22px;
        color: #8ab4f8;
      }
      :nth-child(3) {
        font-size: 14px;
      }
    }
  }
}
